*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 60px;
    width: 100%;
    background-color: rgb(13, 13, 44);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    border-bottom: 2px solid #dadada;
}
.nav-part2{
    color: aliceblue;
    display: flex;
    gap: 2vw;
    cursor: pointer;
}
.nav-part2 button{
    padding: 0.5vw 2.2vw;
    border-radius: 10px;
    background-color: aqua;
    font-weight: 700;
    font-size: 18px;
    transition-duration: 200ms;
}
.nav-part2 h4{
    margin-top: 10px;
}
.nav-part2 h4:hover{
    color: #ebe727;
}

.nav h1{
    color: white;
}
.nav i{
    font-size: 1.50vw;
    display: none;
}

.contain{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 3vw;
}
.left h1{
    font-size: 4vw;
}
.left h1 span{
    color: rgb(237, 237, 7);
}
.left p{
    font-size: 1.50vw;
    color: #676565;
    font-weight: 600;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.left button{
    padding: 1.1vw 2.3vw;
    background-color: rgb(104, 200, 238) ;
    font-weight: 600;
    border-radius: 10px;
    color: #0b0a0a;
    font-size: x-large;
    cursor: pointer;
    transition-duration: 200ms;
}
button:hover{
    background-color: rgb(243, 237, 59);
}
.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 95%;
    width: 100%;
    
}
.foot{
    height: 20%;
    width: 100%;
    background-color: rgb(23, 34, 58);
}
.main3{
    display: flex;
    justify-content: space-around;
    padding: 32px;
    color: #dadada;
    align-items: flex-start;
    flex-wrap: wrap;
}
.left1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.med1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.icon{
    font-size: xx-large;
    cursor: pointer;
}
.icon i:hover{
    background-color: yellow;
    color: black;
    border-radius: 20px;
    transition-delay: 200ms;
    transition-duration: 100ms;
}
.right1{
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (max-width:600px) {
    .nav{
        padding: 0 5vw;
    }
    .nav h4{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 6vw;
    }
    .nav-part2 button{
        display: none;
    }
    .contain{
        height: calc(100% - 5%);
        flex-direction: column;
        padding: 5vw 6vw;
    }
    .left{
        width: 100%;
    }
    .left h1{
        font-size: 12vw;
    }
    .left p{
        font-size: 5vw;
        width: 100%;
        margin-top: 4vw;
        margin-bottom: 5vw;
    }
    .right{
        width: 80%;
    }
    .main3 {
        display: flex;
    }

    .left1, .med1, .right1 {
        flex-basis: 100%; /* Each section takes the full width */
        margin-bottom: 20px; /* Add space between sections */
        font-size: small;
    }

    .icon i {
        font-size: 20px; /* Adjust icon size for smaller screens */
        margin-right: 8px; /* Adjust spacing */
    }
    .foot{
        height: auto;
        width: 100%;
        background-color: rgb(23, 34, 58);
    }
}